/* SEARCH BAR */

.container-md {
  margin: 15px auto;
  max-width: 570px;
  font-family: "Manrope", sans-serif;
}

#city-form {
  display: flex;
}

.location {
  line-height: 2.65;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  background-color: #bfd4f7;
  color: #f5f8ff;
  font-weight: 400;
  margin-bottom: 0px;
  border: #b1cbf5 0.5px solid;
}

.search {
  background-color: #93b9f7;
  width: 70px;
  font-weight: 700;
  color: #f5f8ff;
  line-height: 2;
  padding: 5px;
  border: #9abcf3 0.5px solid;
}

/* .current {
  background-color: #81aef8;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  width: 110px;
  color: #f5f8ff;
  line-height: 2;
  padding: 6px;
  border: #7aa8f1 0.5px solid;
} */

.four {
  position: absolute;
  right: 7px;
}

.buscar {
  margin-bottom: 3px;
}

.info1 {
  margin-bottom: 250px;
  color: #f5f8ff;
}

/* ACTUAL CITY WEATHER */

.iconparis {
  position: absolute;
  width: 120px;
  bottom: 240px;
  opacity: 100%;
  left: 15px;
}

.header {
  font-size: 130px;
  font-weight: 700;
  color: #f5f8ff;
  line-height: 0.4;
}
/* .circulito {
  font-size: 100px;
  vertical-align: 80%;
} */

.sub {
  font-size: 50px;
  font-weight: 300;
  text-transform: capitalize;
  color: #f5f8ff;
}

.paris {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: #073d70;
  background-image: linear-gradient(120deg, #bfd4f7 0%, #93b9f7 100%);
  /* position: relative; */
  font-weight: 400;
}

.col {
  font-size: 14px;
}

.grados {
  position: absolute;
}
.grados:hover {
  font-weight: 700;
  text-decoration: none;
}

.fecha {
  color: #f5f8ff;
  font-weight: 200;
}

.cels {
  text-align: right;
  font-weight: 200;
  color: #4f78bb;
  right: 120px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.faren {
  text-align: right;
  margin-left: 10px;
  right: 95px;
  font-weight: 200;
  color: #4f78bb;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.col-2 {
  text-align: left;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: #f5f8ff;
  cursor: default;
  font-weight: 700;
}

.active:hover {
  text-decoration: none;
}

/* ACTUAL CITY 4 DAY FORECAST */

.days {
  margin: 0 auto;
}

.thu {
  background-color: #b9d2fa;
  color: #f5f8ff;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 10px;
}

.iconthu {
  width: 70px;
  position: relative;
  right: 13px;
  opacity: 50%;
}

.fri {
  background-color: #a2c3f7;
  font-weight: 400;
  color: #f5f8ff;
  padding-top: 40px;
}

.sat {
  background-color: #95bbf7;
  font-weight: 400;
  color: #f5f8ff;
  padding-top: 40px;
}

.sun {
  background-color: #81aef8;
  font-weight: 400;
  color: #f5f8ff;
  padding-top: 40px;
}

.night {
  color: #ffffff81;
}

.end {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #4f78bb;
}

.endlala {
  color: #4f78bb;
}

.endlala:hover {
  font-weight: 700;
  font-decoration: none;
  color: #95bbf7;
}
