/* SEARCH BAR */

.container-md {
  margin: 15px auto;
  max-width: 570px;
  font-family: "Manrope", sans-serif;
}

#city-form {
  display: flex;
}
/* #2f42f0 0%, #0011aa */
.location {
  line-height: 2.65;
  padding-left: 15px;
  padding-right: 15px;
  flex: 1;
  background-color: #c1c7fc;
  /* background-image: linear-gradient(120deg, #1251df 0%, #053092 100%); */
  /* color: #e0e3ff; */
  color: #eff0ff;
  font-weight: 400;
  margin-bottom: 0px;
  border: none;
}

.search {
  background-color: #9da6fa;
  width: 70px;
  font-weight: 700;
  /* color: #e0e3ff; */
  color: #eff0ff;
  line-height: 2;
  padding: 5px;
  border: none;
}

/* .current {
  background-color: #81aef8;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  width: 110px;
  color: #f5f8ff;
  line-height: 2;
  padding: 6px;
  border: #7aa8f1 0.5px solid;
} */

.four {
  position: absolute;
  right: 7px;
}

.buscar {
  margin-bottom: 3px;
}

.info1 {
  margin-bottom: 250px;
  color: #e0e3ff;
}

/* ACTUAL CITY WEATHER */

.iconparis {
  position: absolute;
  width: 120px;
  bottom: 240px;
  opacity: 100%;

  bottom: 10px;
}

.header {
  font-size: 130px;
  font-weight: 700;
  color: #e0e3ff;
  line-height: 0.4;
  position: relative;
  right: 5px;
  bottom: 10px;
}
/* .circulito {
  font-size: 100px;
  vertical-align: 80%;
} */

.sub {
  font-size: 50px;
  font-weight: 300;
  text-transform: capitalize;
  color: #e0e3ff;
}

.paris {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: #c1c7fc;
  /* background-image: linear-gradient(120deg, #bfd4f7 0%, #93b9f7 100%); */
  /* position: relative; */
  font-weight: 400;
}

.col {
  font-size: 14px;
}

.grados {
  position: absolute;
}
.grados:hover {
  font-weight: 700;
  text-decoration: none;
}

.fecha {
  color: #e0e3ff;
  font-weight: 200;
}

.cels {
  text-align: right;
  font-weight: 200;
  color: #9da6fa;
  right: 120px;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.faren {
  text-align: right;
  margin-left: 10px;
  right: 95px;
  font-weight: 200;
  color: #9da6fa;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

.col-2 {
  text-align: left;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.active {
  color: #e0e3ff;
  cursor: default;
  font-weight: 700;
}

.active:hover {
  text-decoration: none;
}

/* ACTUAL CITY 4 DAY FORECAST */

.days {
  margin: 0 auto;
  margin-top: 3px;
}

.thu {
  background-color: #c1c7fc;
  color: #e0e3ff;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 10px;
}

.iconthu {
  width: 70px;
  position: relative;
  right: 13px;
  opacity: 100%;
}

.fri {
  background-color: #b5bcfc;
  font-weight: 400;
  color: #e0e3ff;
  /* */
  padding-top: 40px;
}

.sat {
  background-color: #aab2f8;
  font-weight: 400;
  color: #e0e3ff;
  padding-top: 40px;
}

.sun {
  background-color: #9da6fa;
  font-weight: 400;
  color: #e0e3ff;
  padding-top: 40px;
}

.night {
  color: #cbd0fc;
}

.end {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 12px;
  color: #9da6fa;
}

.endlala {
  color: #9da6fa;
}

.endlala:hover {
  font-weight: 700;
  font-decoration: none;
  color: #838ffa;
}
